.circle-menu {
  position: relative;
  width: 385px;
  height: 385px;

  border-right: 1px solid transparent;
  border-bottom: 1px solid #e2e2e2;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-radius: 100%;
  transform: rotate(140deg);
  margin: 5em auto 7em;
}

.circle-menu li {
  list-style: none;
  display: inline;
}

.circle-menu a {
  display: block;
  position: absolute;
  top: 50%;
  left: 40%;
  width: 60px;
  height: 100px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

.circle-menu a::after {
  content: ' ';
  box-shadow: 0 0 0 4px rgba(130, 183, 34, 0.2);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #90c12d;
  position: absolute;
  top: -5px;
  left: 50%;
}

.circle-menu-img {
  position: absolute;
  top: 0;
  margin-top: 35px;
}

.circle-menu .circle-menu-0 {
  transform: rotate(45deg) translate(12em) rotate(-45deg);
  -webkit-transform: rotate(40deg) translate(212px) rotate(-80deg);
  -ms-transform: rotate(45deg) translate(12em) rotate(-45deg);
}
.circle-menu .circle-menu-1 {
  transform: rotate(73deg) translate(12em) rotate(-73deg);
  -webkit-transform: rotate(65deg) translate(198px) rotate(-85deg);
  -ms-transform: rotate(73deg) translate(12em) rotate(-73deg);
}

.circle-menu .circle-menu-2 {
  transform: rotate(101deg) translate(12em) rotate(-101deg);
  -webkit-transform: rotate(90deg) translate(192px) rotate(-88deg);
  -ms-transform: rotate(101deg) translate(12em) rotate(-101deg);
}
.circle-menu .circle-menu-3 {
  transform: rotate(129deg) translate(12em) rotate(-129deg);
  -webkit-transform: rotate(115deg) translate(192px) rotate(-90deg);
  -ms-transform: rotate(129deg) translate(12em) rotate(-129deg);
}
.circle-menu .circle-menu-4 {
  transform: rotate(157deg) translate(12em) rotate(-157deg);
  -webkit-transform: rotate(140deg) translate(202px) rotate(-100deg);
  -ms-transform: rotate(157deg) translate(12em) rotate(-157deg);
}
